* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

.center {
    display: flex;
    flex-wrap: wrap;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 2%;
}

html,body {
    height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    background: rgb(21, 0, 67);
    background: linear-gradient(50deg, rgba(21, 0, 67, 1) 47%, rgba(0, 17, 89, 1) 100%);
}

.header {
    height: 200px;
    padding: 20px 0;
}

.logo {
    width: 50%;
    margin-top: 10px;
}

.menu {
    padding-top: 30px;
    width: 50%;
    text-align: right;
}

.menu a {
    color: #b1b1cd;
    text-decoration: none;
    font-weight: bold;
    margin-right: 15px;
}

.hello {
    text-align: left;
    position: fixed-left;
    float: left;
    color: #b1b1cd;
    margin-top: 5%;
    margin-left: 9%;
}

section.sobre{
    height: calc(100% - 200px);
    position: relative;

}

.extras{
    position: absolute;
    bottom:-200px;
    right:-200px;
    width: 700px;
    height: 700px;
    border-radius: 50%;
    background: #1f1f47;
    box-shadow: inset -6px -6px 0px #191939,
            inset 6px 6px 0px #252555;
}

